.FirstView {
  max-width: 1440px;
  padding: 0 32px;
}

.SecondView {
  max-width: 1440px;
  padding: 0 32px;
}

.RecommendAreas {
  width: 80%;
}



.Tokyo {
  width: 25%;
  height: 350px;
}

.Osaka {
  width: 25%;
  height: 350px;
}

.Kyoto {
  width: 25%;
  height: 350px;
}

.Sapporo {
  width: 25%;
  height: 350px;
}